*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    font-family: $font-family, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    font-size: 16px;
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $color-text;
}

body {
    background: $color-grey;
    height: 100%;
    overflow-y: scroll;
}

a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: $color-accent;
    }
}

b,
th {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

select,
[type="text"],
[type="number"] {
    font: inherit;
    width: 100%;
    padding: calc($gap / 4);
    border: $border;
    appearance: none;

    &:hover {
        border-color: $color-accent;
        cursor: pointer;
    }
}

button {
    font: inherit;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    padding: calc($gap / 4) calc($gap / 2);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    border: 0;
    border-radius: 0;
    background: $color-accent;

    &:hover {
        background: darken($color-accent, 10%);
    }
}

.mono {
    font-feature-settings: "tnum";
}

.attention-text {
    color: lighten($color-red, 20);
    font-weight: 600;
}