$font-family: "Montserrat";

$color-grey: #f4f4f4;
$color-white: #fff;
$color-border: rgba(#a0a0a0, 0.3);
$color-heading: #3c3b3b;
$color-text: #646464;
$color-accent: #2ebaae;
$color-red: darken(#f00, 20%);
$color-green: darken(#0f0, 30%);

$gap: 48px;

$border: 1px solid $color-border;

$average-color-default: $color-border;
$average-color-crit: #f00;
$average-color-min: #ff8000;
$average-color-norm: $color-text;
$average-color-max: darken(#0f0, 10%);
