*, *::before, *::after {
    box-sizing: border-box;
    outline: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    min-width: 320px;
    color: $color;
}

b {
    font-weight: 500;
}

option {
    font-weight: 300;

    &[selected],
    &:checked {
        font-weight: 500;
    }
}