*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $color;
}

body {
    overflow-y: scroll;
}

b {
    font-weight: 500;
}

option {
    font-weight: 300;

    &[selected],
    &:checked {
        font-weight: 500;
    }
}

[type="text"],
select,
[type="number"] {
    font-weight: 300;
    line-height: 30px;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid $color-divide;
    appearance: none;
}
